spring:
    application:
        name: eshop-inventory
    datasource:
            name: test
            url: jdbc:mysql://${MYSQL_HOST:localhost}:${MYSQL_PORT:3306}/product?useUnicode=true&characterEncoding=UTF8&serverTimezone=GMT%2B8
            username: 'root'
            password: '0490218292'
            # 使用druid数据源
            type: com.alibaba.druid.pool.DruidDataSource
            driver-class-name: com.mysql.jdbc.Driver
            filters: stat
            maxActive: 20
            initialSize: 1
            maxWait: 60000
            minIdle: 1
            timeBetweenEvictionRunsMillis: 60000
            minEvictableIdleTimeMillis: 300000
            validationQuery: select 'x'
            testWhileIdle: true
            testOnBorrow: false
            testOnReturn: false
            poolPreparedStatements: true
            maxOpenPreparedStatements: 20
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

server:
    port: 8767

mybatis:
    basepackage: com.mmc.product.mapper
    xmlLocation: classpath:mapper/**/*.xml
    mapper-locations: "classpath*:mapper/*.xml"

spring:
  host: 192.168.0.109