spring:
    application:
        name: eshop-datalink

    rabbitmq:
        host: localhost
        port: 5672
        username: guest
        password: guest

    zipkin:
        base-url: http://localhost:9411
eureka:
    client:
    serviceUrl:
    defaultZone: http://localhost:8761/eureka/

server:
    port: 8771


feign:
    hystrix:
        enabled: true

management:
    endpoints:
        web:
            exposure:
                include: refresh,health,info