spring:
  application.name: hystrix-terbine-server
server:
  port: 8765


turbine:
  aggregator:
    clusterConfig: default
  appConfig: service-say-hello,eshop-product,eshop-datalink
  clusterNameExpression: new String("default")
  combine-host: true
  instanceUrlSuffix:
    default: hystrix.stream
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
